.comics__container{
   display: flex;
    flex-wrap: wrap;
}
.comics__item:hover {
    transform: rotate(-3deg) scale(0.95);
    filter: saturate(150%)
}
.comics__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-light);
    width: 260px;
    margin: var(--spacing-large);
    transition: 0.5s;
    cursor:pointer;
}
.comics__name{
display: flex;
    margin: auto;
    padding: var(--spacing-small) var(--spacing-medium);
}
.comics__img{
    width: 100%;

}
